<div>
    <h3>CLIENTES</h3>

    <div class="customerList">

        <div class="customerListHeader">
            <span>Nombre</span>
            <span>Edad</span>
            <span>Telefono</span>
        </div>

        <div class="customerListContent" data-ng-repeat="customer in customerList" data-ng-click="getCustomerDetails(customer._id)">
            <span>{{ customer.fullName }}</span>
            <span>{{ customer.age }}</span>
            <span>{{ customer.phoneNumber }}</span>
        </div>
    </div>

</div>

<button data-ng-click="createNewCustomer()">+ customer</button>

<a data-ui-sref="dashboard">Back Dashboard</a>