<div class="col-xs-8 col-xs-offset-2">
    <h3>CLIENTES</h3>
    <table class="table table-striped">
        <thead>
            <tr>                
                <th>Nombre</th>
                <th>Edad</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody class="table-striped">            
            <tr data-ng-repeat="customer in customerList" data-ng-click="getCustomerDetails(customer._id)">
                <td>{{ customer.fullName }}</td>
                <td>{{ customer.age }}</td>
                <td>{{ customer.phoneNumber }}</td>
            </tr> 
        </tbody>
    </table>
</div>